body {
    text-align: center;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(163, 167, 170) ;
  }


/*formulario*/
input {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
    
  input[type=button] {
    width: 50%;
    background-color: #4553a0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 28px;
  }
    
  input[type=button]:hover {
    background-color: #4553a0;
    font-size: 30px;
  }


.cont {
    border-radius: 5px;
    display: inline-block;
    background-color: #f2f2f28e;
    padding: 1%;
    width: 45%;
    margin: 1%;
    vertical-align:top;
}

table {
    width: 99%;
    border-collapse: collapse;
}